target
faces-config.NavData                                                                                                                    
nb-configuration.xml
src/test/*.*
/src/main/webapp/resources/icon/